@charset "UTF-8"
@import compass

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css)
@import "base/_mixin.sass"
@import "base/_variable.sass"

/* Larger than tablet */
body, html
  max-width: 960px
  width: 100%
  margin: 0 auto
  font-family: 'cwTeXHei', 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif

section, div
  +box-sizing(content-box)

ol, ul
  list-style: none
a
  color: $acted-color
p
  margin: 0
  margin-bottom: 2em

nav
  position: fixed
  top: 0
  width: inherit
  background-color: #FFF
  z-index: 10
  ul
    width: 960px
    padding: 0
    border-bottom: 0.1em solid $bd-color
    margin: 2em 0
    overflow: hidden
    li
      float: left
      letter-spacing: 0.1em
      color: rgba($gray-color--d, .6)
      padding: 1em 1em 0.8em
      margin: 0 1.3em
      &.is-select
        border-bottom: 0.2em solid $acted-color
      &:hover
        background-color: rgba($gray-color--l, .5)
      a
        text-decoration: none
        color: $gray-color--d

#about
  font-size: 0
  height: calc(100% - 50.8px)
  padding: 40px
  margin-top: 114.8px
  .intro-title, .intro
    font-size: $font-s
    +inline-block(top)
  .intro-title
    width: 6em
    text-align: center
    margin-right: 2.5em
    .avatar
      width: 6em
      height: 6em
      background-image: url("/img/header.jpeg")
      +bg-style(center)
      +border-radius(50%)
    .name
      font-size: 18px
      color: $gray-color--d
      letter-spacing: 0.1em
      span
        font-size: 14px
        color: rgba($gray-color--d, .6)
        margin-left: 0.5em
  .intro
    width: calc(100% - 8.5em)
    line-height: 1.7em
    letter-spacing: 0.1em
    color: $gray-color--d

#works
  .work-row
    font-size: 0
    &:nth-child(2)
      .work-img
        width: 670px
      .work-intro
        width: calc(100% - 670px)
    .work-img, .work-intro
      width: 50%
      padding-bottom: 50%
      +inline-block(middle)
    .work-img
      +bg-style(center)
    .work-intro
      position: relative
      background-color: $gray-color--l
      .work-intro-inner
        text-align: center
        +psa(50%, null, null, 50%, null)
        +translate(-50%, -50%)
        .work-title
          letter-spacing: 0.1em
          font-size: 24px
          color: $gray-color--d
          margin-bottom: 8px
        .work-desc
          font-size: $font-s
          color: rgba($gray-color--d, .6)
          margin-bottom: 30px
        .look-more
          display: inline-block
          text-decoration: none
          font-size: $font-s
          color: $brown-color
          padding: 8px 18px
          border: 2px solid $brown-color
          cursor: pointer

footer
  text-align: center
  padding: 3em 0
  .copyright
    font-size: 14px
    color: $gray-color--d

@media only screen and (max-width: 780px)
  nav
    ul
      margin: 0.5em 0

  #about
    padding: 30px 19px
    margin-top: 66.8px
    .intro-title, .intro
      width: 100%
    .intro-title
      margin: 0
      margin-bottom: 1em
      .avatar
        margin: 0 auto
  #works
    .work-row
      &:nth-child(2)
        .work-img, .work-intro
          width: 50%
        .work-img
          background-color: #000
          +bg-style(center, contain)
    .work-row
      .work-intro
        .work-intro-inner
          .work-title
            font-size: 18px
            margin-top: 0
          .work-desc
            font-size: 14px
            margin-bottom: 0.5em
          .look-more
            font-size: 12px
            padding: 6px 10px

        